# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# IDEs and editors
.idea/
.vscode/

# Testing
.pytest_cache/

# Executables
LEDApp.exe

# Logs
*.log
led_connection_log.txt

# Local configuration
led_settings.json
led_schedule.json
led_schedule_profiles.json
